@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  height: 100%;
  width: 100%;
  overflow:hidden
}
body{
  background-color: #E0E0CE;
  color: #272727;
}
*::-webkit-scrollbar{
  display: none;
}
input{
  padding: 0.5rem;
  background: transparent;
  margin: 0.1rem;
  border-bottom: 1px solid black;
}
input:focus{
  outline: none;
  border-bottom: 1px solid black;
}
input::placeholder{
  opacity: 70%;
  color: #272727;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Makes background fully transparent */
  -webkit-text-fill-color: #A6CFD5; /* Ensures text color is consistent with the input's normal state */
  background-color: transparent !important; /* Fallback to ensure transparency */
  transition: background-color 5000s ease-in-out 0s; /* Avoids flashing effect on autofill */
}
button{
  color: #E0E0CE;
  background-color: #272727;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  transition: 0.2s ease;
  @apply hover:opacity-95
}

.mona-sans-light{
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100
}
.mona-sans-bold{
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100
}
.form-container{
  padding: 1rem;
  border-radius: 1rem;
}